.Sidebar {
  position: relative;
  background-color: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  padding-top: 4px;

  .items {
    margin-top: 40px;
  }

  .collapsBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
  }

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }
}

.collapsed {
  width: 50px;

  .items {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .collapsBtn {
    transform: rotate(-90deg);
  }

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}
