.ListBox {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.trigger {
  color: var(--text-redesigned);
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 34px;
  margin: 0;
  cursor: pointer;

  .ButtonWrapper {
    display: flex;
    align-items: center;
  }

  &:hover {
    color: var(--accent-redesigned);

    .ButtonWrapper {
      .addonLeft svg,
      .addonRight svg {
        color: var(--accent-redesigned);
      }
    }
  }
}

.trigger.withAddon {
  padding: 0 16px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: var(--select-dropdown);

  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);

  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
}

.item {
  cursor: pointer;
  padding: 10px 20px;
}

.focus {
  background: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.7;
}

.selected {
  background: var(--light-bg-redesigned);
}

.label {
  margin-right: 4px;
}
