.Icon {
  color: var(--icon-redesigned);
}

.Button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.Button:hover .Icon {
  color: var(--accent-redesigned);
}
