.Popover {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: var(--select-dropdown);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 15px;
}
