.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color)
}

.avatar {
    height: 60px;
    width: 60px;
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color)
}